### Java ###
*.class

### Maven ###
target/
mvn-wrapper.properties

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### Visual Studio Code ###
.vscode/

### Spring Boot ###
### Logs ###
logs/
*.log

### OS Specific ###
.DS_Store
Thumbs.db

.env